*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(img/fondo2.jpeg);
    background-size: cover;
}

.container-form{
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgb(0, 0, 0, .1);
    height: 500px;
    max-width: 900px;
    border: solid thin green;
    margin: 10px;
}
.information{
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #84e770;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.info-childs{
    width: 100%;
    padding: 0 30px;
}
.info-childs h2{
    font-size: 2.5rem;
    color: #333;
}
.info-childs p{
    margin: 15px 0;
    color: #555;
}
.info-childs input{
    background-color: transparent;
    outline: none;
    border: solid 2px #f88c4e;
    border-radius: 20px;
    padding: 10px 20px;
    color: #f88c4e;
    cursor: pointer;
    transition: background-color .3s ease;
}
.info-childs input:hover{
    background-color: #f88c4e;
    border: none;
    color: #fff;
    box-shadow: 0 2px 5px rgb(0, 0, 0, .1);
}
.form-information{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: #f8f8f8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.form-information-childs{
    padding: 0 30px;
}
.form-information-childs h2{
    color: #333;
    font-size: 2rem;
}
.form-information-childs p{
    color: #555;
}
.icons {
    margin: 15px 0;
}
.icons i{
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    color: #f88c4e;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgb(0, 0, 0, .1);
    border: solid thin orange;
}
.icons i:hover{
    background-color: #f88c4e;
    border: none;
    color: #fff;
    box-shadow: 0 2px 5px rgb(0, 0, 0, .1);
}
.forms {
    margin: 30px 0 0 0;
}
.forms label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: #fff;
    border: solid thin green;
    box-shadow: 0 5px 7px rgb(0, 0, 0, .1);
}
.forms label input{
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
}
.forms label i{
    color: #555;
}
.forms input[type="submit"]{
    background-color: #f88c4e;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 5px 7px rgb(0, 0, 0, .1);
}
.forms input[type="submit"]:hover{
    background-color: #84e770;
    border: none;
    color: #fff;
    box-shadow: 0 2px 5px rgb(0, 0, 0, .1);
}
.hide{
    position: absolute;
    transition: transform 1.99s ease;
    transform: translateY(-300%);
}

@media screen and (max-width:750px){
    html {
        font-size: 13px;
    }
}
@media screen and (max-width:588px){
    html {
        font-size: 11px;
    }
    .container-form{
        height: auto;
        flex-direction: column;
    }
    .information{
        width: 100%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0;
    }

    .form-information{
        width: 100%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 0;
    }
}


